.packages_hero_section {
    background-image: url("../../assets/Images/Shared/Hero/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5% 0;
    padding-top: 14%;
    height: 100vh;
}


.packages_hero_left {
    width: 30%;
    padding-left: 3rem;
}

.packages_hero_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    padding-top: 10%;
}

#phshhidden {
    opacity: 0;
}

#phshvisible {
    opacity: 1;
    position: absolute;
    display: flex;
    top: 50%;
    left: 5%;
}

.phslider-item {
    position: relative;
    width: 300px;
    height: 480px;
    transform: scale(0.8);
    transition: transform 0.9s ease-in-out;
}

.phactive-slider-item {
    transform: scale(1);
}

.slick-prev,
.slick-next {
    font-size: 24px;
    color: #333;
    display: none;
}

.slick-prev:hover,
.slick-next:hover {
    color: #000;
}

.phinnervisible-slide {
    width: 100%;
    height: 100%;

}

.phinnervisible-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.packagesheroslidercomponent {
    position: relative;
    height: fit-content;
    width: 90%;
    margin: 0rem auto;
    padding-bottom: 12%;
    text-align: center;
}

/* For Phone Screen */
@media screen and (max-width: 1320px) {

    .phslider-item {
        position: relative;
        width: 200px !important;
        height: 480px !important;
        transform: scale(0.7);
        transition: transform 0.3s ease-in-out;
    }

    .packages_hero_right {
        width: 70% !important;
    }

    .phactive-slider-item {
        transform: scale(1.1);
    }

    .phinnervisible-slide {
        width: 100%;
        height: 100%;
    }

    #phshvisible {
        font-size: var(--fonts-card-md) !important;
    }
}

@media screen and (max-width: 1050px){
    .packages_hero_section{
        display: flex;
        flex-direction: column;
        padding-top: 15%;
        height: fit-content;
    }
    .packages_hero_left{
        width: 100%;
        margin-bottom: 5%;
        padding: 0rem 1rem;
    }
    .packages_hero_right {
        width: 100% !important;
        height: 350px;
    }
    .packagesheroslidercomponent{
        width: 100%;
        padding-top: 8%;
    }
    .phslider-item {
        position: relative;
        width: 300px;
        height: 480px;
       
    }
}

@media screen and (max-width:560px) {
    .packages_hero_right{
        height: 250px;
        padding-top: 15%;
    }
    .phinnervisible-slide{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 450px){
    .packages_hero_section{
        padding-top: 24%;
    }
    .packages_hero_left h1{
        font-size: 1.5rem;
    }
.phslider-item{
        width: 120px !important;
    }
}