/* Test.css */

.dark-block-image-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.5s ease;
  }
  
  .dark-block {
    position: absolute;

    width: 50%;
    height: 50%;
 
  }
  
  .dark-block:nth-child(5) {
    top: 0;
    left: 0;
    transition: transform 300ms ease;
    transform-origin: top left;
  }
  
  .dark-block:nth-child(2) {
    top: 0;
    right: 0;
    transition: transform 400ms ease;
    transform-origin: top right;

  }
  
  .dark-block:nth-child(3) {
    bottom: 0;
    left: 0;
    transition: transform 800ms ease;
    transform-origin: bottom left;
    }
  
  .dark-block:nth-child(4) {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
    transition: transform 900ms ease;
  }
  
  
  /* .dark-block-image-container.hovered .image {
    filter: brightness(0.8);
  }
  
  .dark-block-image-container.hovered .dark-block {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.6);
  } */
  