/* ************************************************** (About hero css)*************************** */
.About-hero {
  display: flex;
  height: 100vh;
  background-image: url("../../assets/Images/Shared/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}

.hero-text {
  display: flex;
  width: 95%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

.hero-text p {
  padding-top: 2rem;
}

@media screen and (max-width: 768px) {
  .About-hero {
    height: fit-content;
    padding: 6rem 0;
  }

  .hero-text {
    margin-top: 4rem;
    width: 90%;
  }
}

@media screen and (max-width:1080px) {
  .About-hero {
    height: fit-content;
    padding: 7rem 0;
  }

  .hero-text {
    margin-top: 4rem;
    width: 90%;
  }


}

@media screen and (max-width:630px) {
  .About-hero {
    height: fit-content;
    padding: 2rem 0;
  }

  .hero-text {
    margin-top: 4rem;
    width: 90%;
  }
  .ourvisionimg{
    height: 50%;
    width: 50% !important;
  }
}

/* *********************************************(our mission and vision css)********************************************* */
.OurVissionMission {
  padding: 3rem 0rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.OurVissionMission-content {
  display: flex;
  width: 94%;
  margin: auto;
  align-items: center;
  justify-content: space-between;

}

.ourvisiontext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 59%;
}

.ourvisionimg {
  width: 25%;
}

.OurVissionMission-content img {
  width: 25rem;
  height: 25rem;
}

@media screen and (max-width: 768px) {
  .OurVissionMission {
    padding: 3rem 0rem;
    width: 95%;
    margin: auto;
    overflow: hidden;
  }

  .OurVissionMission-content {
    width: 90%;
  }
}

@media screen and (max-width:1080px) {
  .OurVissionMission {
    padding: 3rem 0rem;
    width: 95%;
    margin: auto;
    overflow: hidden;
  }

  .OurVissionMission-content {
    width: 100%;
  }

  .ourvisiontext h3 {
    font-size: var(--mobile-heading);
  }

  .OurVissionMission-content img {
    width: 15rem;
    height: 15rem;
  }

}

@media screen and (max-width:630px) {
  .OurVissionMission {
    padding: 3rem 0rem;
    width: 95%;
    margin: auto;
    overflow: hidden;
  }

  .OurVissionMission-content {
    width: 95%;
  }

  .ourvisiontext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 100%;
  }

  .OurVissionMission-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

  }
}

/* ****************************************(team introduction css)************************************** */

.about-team {
  background-color: var(--primary);
  height: fit-content;
  width: 100%;
  padding: 3rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.teamintroduction {
  width: 94%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro-content h1 {
  line-height: 250%;
}

.intro-content p {
  color: var(--p-dark);
  line-height: 2rem;
  text-align: start;
}

.intro-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
  gap: 3rem;
  margin-top: 2rem;
}

.intro-item .intro-profile {
  text-align: center;
  flex: 1 1 200px;
  max-width: 250px;
}

.Tislidercomponent {
  position: relative;
  width: 90%;
  margin: 3rem auto 0;
  height: 400px;
}




.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
  visibility: hidden;
}

.Tiinnervisible-slide {
  width: 100%;
  height: 100%;
}

.Tiinnervisible-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Tislider-container {
  width: 90%;
  height: fit-content;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 50%;
}

.about_team_card_details {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.tiactive-slider-item .about_team_card_details {
  visibility: visible;
  opacity: 1;
}

.Tislider-item {
  position: relative;
  width: 300px;
  height: 300px;
  transform: scale(0.7);
  transition: transform 0.3s ease-in-out;
}

.tiactive-slider-item,
.Tislider-item.slick-active {
  transform: scale(1.005);
}



@media screen and (max-width:1080px) {

  .teamintroduction {
    padding-top: 0rem;
    width: 94%;
  }

  .intro-content h1 {
    font-size: var(--mobile-heading);
  }

  .intro-profile h1 {
    font-size: medium;
  }

  .intro-profile p {
    display: none;
  }

  .Tislidercomponent {
    height: 300px;
    margin: 0;
  }

  .Tislider-item {
    position: relative;
    width: 150px;
    height: 150px;
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out;
  }

  .tiactive-slider-item {
    transform: scale(1.005);
  }

  .Tiinnervisible-slide {
    width: 100%;
    height: fit-content;
  }

  .Tislider-container {
    width: 100%;
    height: 1%;
    top: 20%;
  }
}

@media only screen and (max-width: 768px) {

  .teamintroduction {
    width: 90%;
    text-align: center;
    /* margin-top: 2rem; */
  }

  .ourvisiontext, .intro-content{
    text-align: center !important;
  }

  .intro-profile {
    max-width: 100%;
  }

  .Tislidercomponent {
    height: 260px !important;
    justify-content: center;
    margin: 0;
  }

  .intro-content h1 {
    font-size: var(--mobile-heading);
    text-align: center;
  }

  .intro-content p{
    text-align: justify;
  }
}


@media only screen and (max-width: 500px) {

  .teamintroduction {
    width: 90%;
    margin: auto;
    /* margin-top: 2rem; */
  }

  .intro-profile {
    max-width: 100%;
  }

  .Tislidercomponent {
    height: 260px !important;
    justify-content: center;
    margin: 0;
  }
  .ourvisionimg{
    height: 50%;
    width: 70% !important;
  }
}

/* *****************************************(our expertise css)************************************ */
.ourexpert {
  display: flex;
  width: 93%;
  overflow: hidden;
  margin: 2rem auto;
  align-items: center;
  justify-content: space-between;

}

.ourexpert-content {
  width: 49%;
}

.ourexperttext {
  width: 70%;
}

.ourexperttext h1 {
  font-size: var(--mobile-heading);
  margin: 1rem 0;
}

.ourexpertimg {
  width: 60%;
  justify-content: start;
}

.ourexpertimg>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



@media screen and (max-width: 500px) {

  .ourexpert {
    flex-direction: column-reverse;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .ourexpert-content {
    width: 100%;
    align-items: center;
  }

  .ourexperttext {
    width: 97%;
  }

  .ourexpertimg{
    width: 100%;
  }

}


/*******************************************(user benifits css)**************************************/
.user-benefits {
  background-color: var(--primary);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  padding: 3rem 0;
}

.user-benefits-content {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: auto;
  margin-bottom: 1rem;
}

.user-benefits-content h1 {
  text-align: center;
  line-height: 2rem;
}

.user-benefits-content p {
  text-align: start;
  line-height: 2rem;
}

.user-benefits-items {
  justify-content: center;
  position: relative;
  width: 93%;
  bottom: 30%;
}

.user-benefits-section {
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
  text-align: center;
  padding-bottom: 1rem;
  background-color: var(--primary);
  box-shadow: 0 4px 6px lightgray;
}

.user_benefits_slider_text {
  padding: 3%;
}

.user_benefits_heading_para {
  padding: 1rem 0rem;
}



.user-benefits-section img {
  width: 100%;
  height: auto;
}

.user-benefits-section p {
  margin-bottom: 3%;
}



@media screen and (max-width:1080px) {
  .user-benefits {
    background-color: rgb(237, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width:870px) {
  .user-benefits-content h1 {
    font-size: var(--mobile-heading);
  }
}

@media screen and (max-width: 768px) {
  .user-benefits-content {
    width: 91%;
  }

  .user-benefits-items {
    width: 91%;

  }

  .user-benefits-section {
    width: 100%;
  }

  .user-benefits-content h1 {
    text-align: center;
  }

  .user-benefits-content p {
    text-align: justify;
  }
}

/*******************************************(award css)************************************************/
.award {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: auto;
  overflow: hidden;
  align-items: center;
  padding: 2rem 0rem;
}

.award-content {
  width: 60%;
}

.awardtext h1 {
  padding: 1rem 0rem;
}

.awardimg {
  width: 25%;
}

@media screen and (max-width:870px) {

  .award {
    padding: 1rem 0;
  }

  .awardtext h1 {
    font-size: var(--mobile-heading);
    padding: 0rem 0 1rem;
  }

  .awardimg {
    width: 70%;
  }

}

@media screen and (max-width: 500px) {
  .award {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0;
  }

  .award-content {
    width: 99%;
  }

  .awardsImageContainer {
    width: 99%;
  }

  .awardtext h1 {
    text-align: center;
  }

  .awardtext p {
    text-align: justify;
  }

  .awardimg {
    width: 100%;
  }

  .award-content {
    flex-direction: column;
    text-align: center;
  }

}


/* *****************************************(testimonial)************************************ */
.testimonial {
  background-color: var(--primary);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.testimonial-image {
  width: 40%;
}

.testimonial-content {
  width: 55%;
  margin: auto;
  padding-top: 2rem;
  overflow: hidden;
}

.testimonial-says {
  text-align: center;
}


.testimonial_content_details {
  width: 100%;
  text-align: center !important;
}

.testimonial-heading {
  color: var(--secondary);
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
  margin: .8rem 0;
}

.quotation-mark {
  color: var(--secondary-text);
  font-size: 5rem;
  font-weight: 800;
  color: var(--p-dark);
  margin: 2rem;
  line-height: 2rem;
}




.Tslidercomponent {
  width: 100%;
  margin: 2rem auto;

}


.Tslider-item {
  position: relative;
  width: 300px;
  height: fit-content;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
  padding: 1rem;

}

.active-slider-item {
  transform: scale(1.3);
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
  visibility: hidden;
}

.Tinnervisible-slide {
  width: 100%;
  text-align: center;
  height: fit-content;
  padding: 1.5rem;
}

.Tinnervisible-slide>div {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.Tinnervisible-slide>div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonial-author {
  color: var(--primary-text);
  font-size: 1rem;
  font-weight: 800;
  margin: 1rem;

}

.Tslider-container {
  width: 100%;
  height: fit-content;

}


@media screen and (max-width:1080px) {
  .testimonial {
    padding: 1rem;
  }

  .testimonial-content {
    width: 100%;
  }


  .testimonial-image {
    display: none;
  }


}

@media screen and (max-width: 550px) {
  .testimonial {
    width: 100%;
  }

  .testimonial-text {
    text-align: justify;
  }

  .testimonial-content {
    width: 100%;
  }

  .Tinnervisible-slide {
    padding: 0;
  }

  .Tinnervisible-slide>div {
    padding: .5rem;
  }

  .Tinnervisible-slide>div img {
    padding: 0;
  }

  .testimonial-author {
    font-size: .7rem;
    margin: 0;
  }

  .testimonial-heading {
    font-size: 3rem;

  }

}